#title{

display: flex;
justify-content: center ;
color: aliceblue;
}

#input{
border-radius: 15px;
border-color: rgb(0, 255, 81);
}

#input:hover{
    font-size: 15px;
    transition:0.2s ease;
}
div{
    display: flex;
    justify-content: center;
}
html{
    background-color: black;
}
button{
border-radius: 15px;
border-color: rgb(0, 255, 81);

;
}